<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Selenium" parallel="methods" thread-count="4">
    <test name="Demo Test">
        <classes>
            <class name="lt.marius.pom.tests.demoqa.TextBoxTest"/>
            <class name="lt.marius.pom.tests.seleniumeasy.BasicFirstFormTest"/>
            <class name="lt.marius.pom.tests.seleniumeasy.BasicCheckBoxTest"/>
            <class name="lt.marius.pom.tests.seleniumeasy.BasicRadioButtonTest"/>
            <class name="lt.marius.pom.tests.seleniumeasy.BasicSelectDropdownListTest"/>
        </classes>
    </test>
</suite>